//Include Google fonts: Frijole, Open Sans, Oswald
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole|Open+Sans|Oswald&display=swap');


//Theme font
$roboto-font: 'Roboto', serif; 
$opensans-font: 'Open Sans', sans-serif;
$frijole-font: 'Frijole', cursive;
$oswald-font: 'Oswald', sans-serif;

//Theme colors
